video-placeholder {
	display: block;
	/* Contain absolute children.*/
	position: relative;
	/* iOS fix -> markup needs to be wrapped in a button.*/
	cursor: pointer;
	/* Hide overflowing child media.*/
	overflow: hidden;
	/* Black fades better with video embeds.*/
	background-color: #000;
}

/* Ratio trick to ensure a fixed aspect ratio.*/
video-placeholder::after {
	display: block;
	content: "";
	height: 0;
	padding-top: 56.25%;
	padding-top: calc(9 / 16 * 100%);
}

video-placeholder > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Make the front image fill the container.*/
video-placeholder > video-placeholder-front img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Put first layer on top.*/
video-placeholder > video-placeholder-front {
	z-index: 1;
	/* the 16ms is to give the embed a chance to show before showing it */
	transition: opacity 320ms 16ms;
}

/* Hide first child, when it is open.*/
video-placeholder[open] > video-placeholder-front {
	opacity: 0;
	visibility: hidden;
	transition: opacity 320ms 16ms, visibility 0s 2000ms;
}

/* Overwrite default button styles*/
video-placeholder button {
	position: absolute;
	text-indent: 9999px;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Kw Video Buttons (not yet public or documented */
.KwVideo-play,
.KwVideo-close {
 background-repeat: no-repeat;
 background-size: cover;
 cursor: pointer;
}

.KwVideo-play {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url('play.svg');
	width: 80px;
	height: 80px;
}

.KwVideo-close {
	background-image: url('close.svg');
	background-color: hsl(0, 0%, 0%);
	background-size: 50%;
	background-position: center;
	width: 4rem;
	height: 4rem;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 1;
	visibility: hidden;
}

video-placeholder[open] .KwVideo-close {
	visibility: visible;
}
